$def with(result)
<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
    <head>
        
<center>
<title>Ejemplo Lineal</title>
    </head>
    <body>
        <h1>Ejemplo numero de Regresion Lineal </h1>
        <div class="RE-LINEAL">
            <div class="N">
                <br>
                <h1> 
                    $if result!=None:
                        $result
                </h1>
                <br>
            </div>
            <form method="POST" class="formulario">
                <input type="number" name="x" id="x">
                <br>
                <input type="submit" value="predecir" id="predecir">
            </form>
        </div>
       <br> 
        <img src="https://lh3.googleusercontent.com/proxy/1VWdZrSrg8RS9sFAeY0pXPzxUtCZdhMhbF0x0eivUge_PvKa5f4f1tMWkOq1EeJIvuvrrKJIYAg36qFjP-3dbaF__N9FRE60tZe56GtVPJdSRHYE5UINFRJhhX8DYov0gugk-XhmJka4FgYjQd8lklx2" 
        alt="W3Schools.com" style="width:500px;height:200px;">
    </center>
    </body>
</html>